<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Create Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Include Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="/static/util_css.js"></script> 
    <script src="/static/util_parsing.js"></script> 
    <script src="/static/util_dom.js"></script> 
    <script src="/static/util_transitions.js"></script> 
    <script src="/static/util_menu.js"></script> 
    <style>

        .label {
            font-size: 13px;
        }
        .box {
            margin-bottom: 1rem;
            padding: 2%;
        }

        .section {
            padding: 2%;
            background-color: rgba(255, 255, 255, 0.5);
        }

        #loading {
            display: none;
        }

        #menu {
            display: none;
        }

        .category-header {
            cursor: pointer;
            user-select: none;
        }

        .category-content {
            display: none;
        }

        .category-content.active {
            display: block;
        }

        .remove-button {
            margin-left: 0.5rem;
        }

        .level {
            display: flex;
        }
    </style>
</head>

<body>
    {% if menu_data %}
        <div id="menu-data" style="display: none;">{{ menu_data | json_encode | safe }}</div>
    {% endif %}

    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">Menu</h1>

            <!-- File Input and Parse Button -->
            <div id="imageupload" class="field">
                <label class="label">Upload Menu Image</label>
                <div class="level">
                    <div class="level-left">
                        <button class="button is-link" id="parse-button" type="button" disabled>Parse</button>
                    </div>
                    <div class="level-right">
                        <button class="button is-link" id="parse-manual" type="button">Mannual</button>
                    </div>
                </div>
                <div class="control has-text-centered">
                    <button class="button" id="gallery-button" type="button">Menu Image</button>
                    <br>
                    <!-- Hidden file inputs -->
                    <input class="input" type="file" id="gallery-input" accept="image/*" style="display: none;">
                </div>
                <div class="level">
                    <div class="level-item">
                        <figure class="image is-128x128 has-text-centered">
                            <img id="image-preview" src="#" alt="Image Preview" style="display: none;">
                        </figure>
                    </div>
                </div>
                
            </div>

            <div id="loading">
                <progress class="progress is-small is-primary" max="100">Loading...</progress>
            </div>

            <!-- Form for Menu Creation -->
            <div id="menu">
                <form action="/save_menu" method="post" id="menu-form">
                     <!-- Submit Button -->
                     <div class="field has-text-centered">
                        <div class="control">
                            <button class="button is-primary" type="submit">Shrani</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{ id }}">
                    <!-- Restaurant Name -->
                    <div class="field">
                        <label class="label">Ime</label>
                        <div class="control">
                            <input class="input" type="text" name="restaurant" placeholder="Restaurant Name" required>
                        </div>
                    </div>
                    <!-- Contact Information -->
                    <div class="field">
                        <label class="label">Kontakt</label>
                        <div class="control">
                            <input class="input" type="text" name="contact" placeholder="Contact Information">
                        </div>
                    </div>
                    <!-- Theme -->
                    <div id="theme-input" class="field has-text-centered">
                        <label class="label">Theme</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="theme" value="none">
                                Brez
                            </label>
                            
                            <label class="radio">
                                <input type="radio" name="theme" value="olive">
                                Olive
                            </label>
                            <label class="radio">
                                <input type="radio" name="theme" value="forest">
                                Forest
                            </label>
                            <label class="radio">
                                <input type="radio" name="theme" value="lavender">
                                Lavender
                            </label>
                            <label class="radio">
                                <input type="radio" name="theme" value="midnight">
                                Midnight
                            </label>
                            <label class="radio">
                                <input type="radio" name="theme" value="pizza">
                                Pizza
                            </label>
                            <label class="radio">
                                <input type="radio" name="theme" value="coffee">
                                Coffee
                            </label>
                        </div>
                    </div>
                    
                    <!-- Categories and Items -->
                    <div class="field">
                        <div class="level">
                            <div class="level-left">
                                <label class="label">Categories</label>
                            </div>
                            <div class="level-right">
                            </div>
                        </div>
                        <div id="categories-container">
                            <!-- Categories will be dynamically added here -->
                        </div>
                        <button type="button" class="button is-link is-light" id="add-category-button">Add Category</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- JavaScript Section -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        // Existing initialization code
        setMenuUtilRefs(
            document.getElementById('menu-form'),
            document.getElementById('categories-container'),
            document.getElementById("theme-input"),
            document.getElementById('add-category-button'),
        );

        setTransitionRefs(
            document.getElementById("imageupload"),
            document.getElementById("loading"),
            document.getElementById("menu"),
        );

        setParsingUtilRefs(
            document.getElementById('image-preview'),
            document.getElementById('parse-button'),
            document.getElementById("parse-manual"),
            document.getElementById('gallery-button'),
            document.getElementById('gallery-input')
        );
        
        const menuDataScript = document.getElementById('menu-data');
        if (menuDataScript) {
            const menuData = JSON.parse(menuDataScript.innerHTML);
            prefillForm(menuData);
            toMenu(); // Directly show the menu form
        } else {
            // No menu_data, start with image upload or manual creation
            toUpload(); // Ensure we show the correct view
        }
    });

    </script>
</body>

</html>