/* Sunset Theme */
.section {
    padding: 1%;
}

.box {
    background-color: #ffadad; /* Soft Red */
}

.is-item {
    font-weight: 600;
    background-color: #ffadad; /* Soft Red */
    overflow-wrap: break-word;
    hyphens: manual;
}

.is-description {
    background-color: #ffd6a5; /* Peach */
    font-size: smaller;
    font-weight: 300;
    overflow-wrap: break-word;
    hyphens: manual;
}

html {
    background-color: #fd5e53; /* Coral Red */
}

.is-price {
    font-weight: 300;
}

.tabs.is-toggle li.is-active a {
    background-color: #f94144; /* Bright Red */
    border-color: #f94144;
}

.tabs.is-toggle a:hover {
    background-color: #ffd6a5; /* Peach */
}
