/* Forest Theme */



#restaurant-name {
    color: #ffed8b;
    background-color: #221a15f0;
}

.title {
    color: #cebf70;
}

.box, .box > .label {
    background-color: #221a15f0; /* Light Green */
    padding: 8px;
    color: #cebf70;
}

.tabs {
    background-color: #cebf70b8; 
}

html {
    /*background-color: #386641; /* Dark Green */
    background-image: url("/static/assets/pizza.jpg");
}

.price {
    font-weight: 300;
}

.tabs.is-toggle li.is-active a {
    background-color: #46412f; /* Very Dark Green */
    border-color: #2f3e46;
    color: #cebf70;
    border-color: none;
}

.tabs.is-toggle a:hover {
    background-color: #cebf70b8; /* Medium Green */
}

.tabs.is-toggle a {
    border-color: unset;
}


.is-description {
    background-color: #cebf70b8;
}

span.price {
    color: #cebf70;
    /* background-color: #2f3e46; */
    border-radius: 3px;
}